*{
    box-sizing: border-box;
    font-family: Poppins;
}

body{
    margin: 0 auto;
    background-color:aliceblue;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

header{
    height:80px;
    width:100%;
    background-color:white;
    position: fixed;
    top: 0;
    z-index: 10;
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(40px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.logo{
    font-weight: bold;
    font-size: larger;
    width: 180px;
    float: left;
    margin-left: 80px;
    margin-top: 30px;
}

.navBar{
    float: right;
    list-style: none;
    margin-top: 30px;
    margin-right: 80px;
    font-weight: 1500px;
}

.navBar a{
    color: black;
    font-weight: 1000px;
    margin: 10px 10px;
    padding: 10px 10px;
    
}

a:hover{
    color: red;
}

main{
    height: 3700px;
    margin-top: -120px;
    width: 100%;
    background-color: aliceblue;
}

.home{
    width: 100%;
    margin-top: 100px;
    padding-top: 100px;
    margin-right: 150px;
    background-color: aliceblue;
    height: 850px;
}

.home h2{
    color: blue;
    margin-top: 200px;
    float:inline-start;
    margin-left: 120px;
}
.home p{
    color: black;
    margin-top: 0px;
    margin-left: 120px;
}

.home img{
    float: right;
    max-width: 400px;
    max-height: 400px;
    margin-top: 100px;
    margin-right: 120px;
}

.home a{
    color: black;
    margin-left: 120px;
}

.home h3{
    background-color: aquamarine;
    padding: 10px 10px;
    width: 140px;
    height: 50px;
    float: left;
    border-radius: 10px;
    box-shadow: 0px 2px #716f6fa7;
    margin-left: 120px;
}

.services {
    text-align: center;
    align-content: center;
    align-items: center;
    background-color: #DCEFFF;
    padding-bottom: 20px;
}

.sentence{
    padding-top: 20px;
    text-align: center;
    align-content: center;
    align-items: center;
}

.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.ui{
    width: 320px;
    height: 400px;
    padding: 10px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(40px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    margin: 0;
    width: 40%;
    align-items: center;
    margin-left: 120px;
    color: black;
    text-decoration: none;
}

.fe{
    width: 320px;
    height: 400px;
    padding: 10px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(40px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    margin: 0;
    width: 40%;
    align-items: center;
    margin-right: 100px;
}

.works{
    text-align: center;
    align-content: center;
    align-items: center;
    background-color: aliceblue;
}

.sentence-2{
    padding-top: 20px;
    text-align: center;
    align-content: center;
    align-items: center;
}

.container-2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
}

.pr1 {
    width: 320px;
    height: 400px;
    padding: 10px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(40px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    margin: 0;
    width: 40%;
    align-items: center;
    margin-left: 120px;
}

.container-2 a{
    color: black;
    text-decoration: none;
}

.container-2 a:hover{
    scale:1.01;
}

.pr2 {
    width: 320px;
    height: 400px;
    padding: 10px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(40px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    margin: 0;
    width: 40%;
    align-items: center;
    margin-right: 120px;   
}

.seeall {
    padding-bottom: 20px;
}

.xp{
    padding-top: 20px;
    text-align: center;
    align-items: center;
    background-color: #DCEFFF;
    height: 680px;
}

.xp h1{
    padding-top: 0px;
}

.skills{
    margin-top: 50px;
}

.xp img{
    margin-left: 5px;
    box-sizing: border-box;
    padding: 5px;
    border: 1px #716f6fa7;
    border-radius: 10px;
    background-color: aliceblue;
    box-shadow: 0px 1px 10px#716f6fa7;
}

.education{
    margin-top: 80px;
}

.exp {
    margin-top: 80px;
}

.contacts{
    padding-top: 20px;
    background-color: aliceblue;
    height: 850px;
}

.cm {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

input[type=text],input[type=email], button,select, textarea {
    justify-content: center;
    display: block;
    margin: auto;
    width: 25%;
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
}

label{
    text-align: center;
    display: block;
    margin: auto;
}

button{
    cursor: pointer;
}

button:hover{
    background-color: rgb(214, 229, 241);
}

footer{
    background-color: #b5c2cd;
    height: 100px;
}

.foot h2{
    margin-left: 120px;
    padding-top: 35px;
    color: rgb(143, 32, 222);
}
